
# Uncomment this line and set it to the path of the client files to set acustom data path. Otherwise 
# ServUO will look for the client in the defaultWindows installation directories. Note that this is 
# *required* when runningon non-Windows systems. 
CustomPath=
