
EmailServer=

EmailPort=25

EmailSsl=False

FromAddress=

# If you want to add crash reporting emailing, fill in CrashAddresses (multiple addresses can 
# beaddedcomma seperated) 
CrashAddresses=

# If you want to add speech log page emailing, fill in SpeechLogPageAddresses (multiple addressescanbe 
# added comma seperated) 
SpeechLogPageAddresses=

# If EmailUsername is not set or null, anonymous authentication is used 
EmailUsername=

EmailPassword=
