
# Enabling this feature creates Performance Counters onWindowsforWorldsavemetrics.ThisrequiresServUOto 
# be started as Administrator at least once. Windowsonly! 
Metrics=False

# Page Help SystemShow if there are no staff members available or online 
ShowStaffOffline=True

# Allow to replace support email address and website when a help request 
# issend.Ifnotsetthemessageis"You can reference our website at www.uo.com or contact 
# usatsupport@uo.com.Tocancelyourpage,please select the help button again and 
# selectcancel."StringSyntax:support@uo.com 
SupportEmail=

# String Syntax: https://support.uo.com 
SupportWebsite=

# Time in minutes that generic items take to decay when on the ground 
DefaultItemDecayTime=60

# Select false to allow reds in non-felucca facets 
RestrictRedsToFel=False
