
# In seconds, how long the wait until you are teleported into a shadowguard roomoncetheencounterbegins 
ReadyDuration=30

# This flag 
# controlsifyoustartatarandominstance(room)inshadowguard,orinorderstartingattheNorth-Westcorner.SeeEncounterBoundsTableininController.cs. 
RandomizeInstances=False
